{% extends 'blog/basic.html' %}
{% block title %}Console Diary {% endblock %}
{% load static %} 
{% block css %}


{% endblock %}
{% block body %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'blog/wallpaper3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'blog/wallpaper3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src='{% static "blog\wallpaper3.jpg" %}' class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% if message %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Success : </strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}


<div class="container my-4">
  <h3><b>Top 3 trending blogs</b></h3>
  <div style="display: flex; justify-content: center;">
    {% for posts in allblogs %}
    {% for post in posts %}
    <div class="card my-3 mx-5" style="width: 18rem;;">
      <img src="/media/{{post.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title"><b>{{post.title}}</b></h4>
        <h5 class="card-title">{{post.timestamp}}</h5>
        <p class="card-text">{{post.content|safe|truncatechars:100}}</p>
        <a href="/blog/blogs/{{post.slug}}" class="btn btnm">Read more</a>
      </div>
    </div>
{% endfor %}
{% endfor %}
  </div>
</div>
{% endblock %}